body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh; /* Ensure body extends to at least full viewport height */
    background: url('data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1917%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1918%26quot%3b)'%3e%3c/rect%3e%3cpath d='M -627.5088317738376%2c356 C -550.71%2c454 -397.11%2c818.6 -243.50883177383767%2c846 C -89.91%2c873.4 -13.11%2c510.8 140.49116822616233%2c493 C 294.09%2c475.2 370.89%2c763.4 524.4911682261624%2c757 C 678.09%2c750.6 754.89%2c471.6 908.4911682261624%2c461 C 1062.09%2c450.4 1138.89%2c702 1292.4911682261622%2c704 C 1446.09%2c706 1550.99%2c470 1676.4911682261622%2c471 C 1801.99%2c472 1871.3%2c661.4 1920%2c709' stroke='rgba(254%2c 250%2c 224%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -190.63921702704152%2c497 C -113.84%2c573.6 39.76%2c874.4 193.36078297295848%2c880 C 346.96%2c885.6 423.76%2c552.8 577.3607829729585%2c525 C 730.96%2c497.2 807.76%2c779.2 961.3607829729585%2c741 C 1114.96%2c702.8 1191.76%2c334.8 1345.3607829729585%2c334 C 1498.96%2c333.2 1575.76%2c713.6 1729.3607829729585%2c737 C 1882.96%2c760.4 2075.23%2c447 2113.3607829729585%2c451 C 2151.49%2c455 1958.67%2c695.8 1920%2c757' stroke='rgba(254%2c 250%2c 224%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -210.95133199581275%2c173 C -134.15%2c256.6 19.45%2c523.4 173.04866800418725%2c591 C 326.65%2c658.6 403.45%2c490.4 557.0486680041872%2c511 C 710.65%2c531.6 787.45%2c696.2 941.0486680041872%2c694 C 1094.65%2c691.8 1171.45%2c506.6 1325.0486680041872%2c500 C 1478.65%2c493.4 1555.45%2c689.4 1709.0486680041872%2c661 C 1862.65%2c632.6 2050.86%2c367.2 2093.048668004187%2c358 C 2135.24%2c348.8 1954.61%2c563.6 1920%2c615' stroke='rgba(254%2c 250%2c 224%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -433.95815141308924%2c715 C -357.16%2c619.6 -203.56%2c233 -49.95815141308924%2c238 C 103.64%2c243 180.44%2c745 334.04184858691076%2c740 C 487.64%2c735 564.44%2c203.4 718.0418485869108%2c213 C 871.64%2c222.6 948.44%2c727 1102.0418485869109%2c788 C 1255.64%2c849 1332.44%2c530.6 1486.0418485869109%2c518 C 1639.64%2c505.4 1783.25%2c762.4 1870.0418485869109%2c725 C 1956.83%2c687.6 1910.01%2c409.8 1920%2c331' stroke='rgba(254%2c 250%2c 224%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1917'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='10.94%25' y1='-19.44%25' x2='89.06%25' y2='119.44%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1918'%3e%3cstop stop-color='rgba(128%2c 144%2c 74%2c 1)' offset='0.01'%3e%3c/stop%3e%3cstop stop-color='rgba(40%2c 54%2c 24%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Keeps the background fixed as the page scrolls */
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #ffffff;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#calculator {
    margin-top: 120px;
    background: white; /* Adjust background color or opacity as needed */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
}

label, select, input {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF; /* Change background color to blue */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; /* Darker shade of blue on hover */
}

footer {
    font-size: 13px;
    font-family: Helvetica, sans-serif;
    width: 100%;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.21);
    border-radius: 0px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.9px);
    -webkit-backdrop-filter: blur(12.9px);
    color: #303133;
    text-align: center;
    padding: 3px 0; /* Reduced padding */
    height: 30px; /* Reduced height */
    line-height: 5px; /* Vertically center the text */
    margin-top: auto; /* Push the footer to the bottom of the page */
}

.footer-content {
    margin: 0;
}

#result {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
}
